<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Antic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<header>
    <nav class="navigationBar">
        <img width=150px src="/img/logo.png">
        <a href="/">Home</a>
        <a href="/products">Listings</a>
        <a href="/contact-us">Contact Us</a>
    </nav>
</header>

<body>




    <main>
        {{{body}}}
    </main>


    <footer>
        <p>
            Created by Inna Manova for Assignment #1 in WDDM120 Winter semester
        </p>
    </footer>
</body>

</html>