<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Antic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<header>
    <nav class="navigationBar">
        <div><img width=150px src="/img/logo.png"></div>
        <div></div>
        <div></div>
        <div></div>
        <div><a class="title" href="/">Home</a></div>
        <div><a class="title" href="/products">Listings</a></div>
        <div><a class="title" href="/contact-us">About MNV</a></div>
        <div> <input type="button" value="Login" class="button"></div>
    </nav>
    <div class="page-header">
        {{{headingInfo}}}
    </div>
</header>

<body>
    <main>
        {{{body}}}
    </main>

    <section class="info">
        <div>
            <p class="title">Banff</p>
            <img width=300px src="/img//info/banff.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Calgary</p>
            <img width=300px src="/img//info/calgary.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Canmore</p>
            <img width=300px src="/img//info/canmore.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Jasper</p>
            <img width=300px src="/img//info/Jasper.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Vancouver</p>
            <img width=300px align="center" src="/img//info/vancouver.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
    </section>


    <footer>
        <p>
            <nav class="footer">
                <img width=250px src="/img/logo.png">
                <div>
                    <a href="#">Countries</a></br>
                    <a href="#">Regions</a></br>
                    <a href="#">Cities</a></br>
                    <a href="#">Districts</a></br>
                    <a href="#">Airports</a></br>
                    <a href="#">Hotels</a></br>
                </div>
                <div>
                    <a href="#">Homes</a></br>
                    <a href="#">Appartments</a></br>
                    <a href="#">Resorts</a></br>
                    <a href="#">Villas</a></br>
                    <a href="#">Hostels</a></br>
                    <a href="#">BnBs</a></br>
                    <a href="#">Guest houses</a></br>
                </div>
                <div>
                    <a href="#">Unique places to stay</a></br>
                    <a href="#">All destinations</a></br>
                    <a href="#">Reviews</a></br>
                    <a href="#">Blog: Travel articles</a></br>
                    <a href="#">Travel communities</a></br>
                </div>
                <div>
                    <a href="#">Abou MNV Travel</a></br>
                    <a href="#">Give website feedback</a></br>
                    <a href="#">Customer service help center</a></br>
                    <a href="#">Partner help</a></br>
                    <a href="#">Careers</a></br>
                    <a href="#">Press center</a></br>
                    <a href="#">Safety resources center</a></br>
                    <a href="#">For investors</a></br>
                    <a href="#">Careers</a></br>
                    <a href="#">Terms and conditions</a></br>
                    <a href="#">Privacy</a></br>
                    <a href="#">Affiliates</a></br>
                    <a href="#">FAQs</a></br>
                </div>


                <div>
                    <img width=25px src="/img/link.png">
                    <img width=25px src="/img/tw.png">
                    <img width=25px src="/img/wa.png"></br>
                    <img width=25px src="/img/utb.png">
                    <img width=25px src="/img/fb.png">
                    <img width=25px src="/img/g.png">
                </div>


            </nav>
            <div class="banner"><img src="/img/banner/banner/banner.gif"></div>

            <div class="footer-footer">
                Created by Inna Manova for Assignment #1 in WDDM120 Winter semester
            </div>
        </p>
    </footer>
</body>

</html>