<div class="signInBlock">
    <h1>Contact us Form </h1>
    <form method="POST" action="/contact-us">
        <label for="firstName" >First Name</label> <br>
        <input type="text" id="firstName" name="firstName" class="field-font"> <br>

        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" class="field-font"> <br>

        <label for="phone">Mobile number:</label><br>
        <input type="number" id="phone" name="phone" class="field-font"> <br>

        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" class="field-font"> <br>

        <label for="message">Message</label><br>
        <textarea id="message" name="message" class="field-font"></textarea> <br>

        <input type="submit" value="Contact Us" class="button margin">
    </form>
</div>