<ul>
    <div>
        <form class="block-form" action="">
            <p>
                BOOK UNIQUE PLACES TO STAY AND THINGS TO DO
            </p>

            Choose where you plan to go:
            </br>
            <label>
                <input list="where" name="whereTo" class="field-font" /></label>

            <datalist id="where">
                <option value="Alberta">
                <option value="British Columbia">
                <option value="Manitoba">
                <option value="New Brunswick">
                <option value="Newfounland">
                <option value="Nova Scotia">
                <option value="Ontario">
                <option value="Prince Edward Island">
                <option value="Quebec">
                <option value="Nortwest Territories">
                <option value="Nunavut">
                <option value="Yukon">
            </datalist>


            </br>
            Check-in
            </br>
            <input type="date" id="checkIn" class="field-font"> </br>
            Check-out
            </br>
            <input type="date" id="checkOut" class="field-font"> </br>
            
            Guests
            </br>
            <input type="number" id="guests" class="field-font"> </br>
            
            <label for="message">Tell us more</label>
            </br>
            <textarea name="" id="message" class="field-font"></textarea></br>


            <input type="checkbox"> <label><img class="icon-size" src="/img/petb.jpg"></label>
            <input type="checkbox"> <label><img class="icon-size" src="/img/byke.jpg"></label>
            <input type="checkbox"> <label><img class="icon-size" src="/img/tentb.jpg"></label>


            </br>
            </br>
            <input type="button" value="Submit" class="button">
        </form>
    </div>
</ul>

  <section class="info">
        <div>
            <p class="title">Banff</p>
            <img width=300px src="/img//info/banff.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Calgary</p>
            <img width=300px src="/img//info/calgary.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Canmore</p>
            <img width=300px src="/img//info/canmore.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Jasper</p>
            <img width=300px src="/img//info/Jasper.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
        <div>
            <p class="title">Vancouver</p>
            <img width=300px align="center" src="/img/vancouver.jpg">
            </br>
            <a href="#">Click to explore</a>
        </div>
    </section>

