<ul>
    <div>
        <form class="block-form" action="">
            <p>
                BOOK UNIQUE PLACES TO STAY AND THINGS TO DO
            </p>
            Where to
            </br>
            <input type="text" id="where" class="field-size"> </br>
            </br>
            Check-in
            </br>
            <input type="date" id="checkIn" class="field-size"> </br>
            Check-out
            </br>
            <input type="date" id="checkOut" class="field-size"> </br>
            <input type="checkbox"> <label>I don't know may dates yet</label>
            </br>
            </br>
            Guests
            </br>
            <input type="number" id="guests" class="field-size"> </br>


            </br>
            <label for="message">Tell us more</label>
            </br>
            <textarea name="" id="message" class="field-size"></textarea></br>


            <input type="checkbox"> <label><img class="icon-size" src="/img/petb.jpg"></label>
            <input type="checkbox"> <label><img class="icon-size" src="/img/byke.jpg"></label>
            <input type="checkbox"> <label><img class="icon-size" src="/img/tentb.jpg"></label>


            </br>
            </br>
            <input type="button" value="Submit" class="button">
        </form>
    </div>
</ul>