<ul>
    <div>
        <form class="block" action="">
            <p>
                BOOK UNIQUE PLACES TO STAY AND THINGS TO DO
            </p>
            Where
            </br>
            <input type="text" id="where"> <br>

            Check-in
            </br>
            <input type="date" id="checkIn"> <br>
            Check-out
            </br>
            <input type="date" id="checkOut"> <br>

            Guests
            </br>
            <input type="number" id="guests"> <br>

            <input type="button" value="Submit">
        </form>
    </div>
</ul>