<div class="signInBlock">
    <div>
        <form action="">
            <p>Create your account. It's free and only takes a minute</p>
            <input type="text" id="firstName" value=" First Name" class="field-font"> <br>

            <input type="text" id="lastName" value="Last Name" class="field-font"> <br>

            <input type="text" id="email" value="Email" class="field-font"> <br>

            <input type="text" id="password1" value="Password" class="field-font"> <br>

            <input type="text" id="passwerd2" value="Confirm Password" class="field-font"> <br>
            <input type="checkbox" class="margin"> <label> I accept Term of Use and Privacy Policy</label>

            </br>
            </br>
            <input type="button" id="validation" value="Submit" class="button margin">
            </br>
            </br>
            <p> Or...</p>
            <p> Sign in with
                <img class="social" src="/img/fb.png">
                <img class="social" src="/img/g.png">
            </p>
        </form>
    </div>
</div>
{{!-- 
  <script src="js/validation.js"></script> --}}