<ul>
    <div>
        <form method="POST" action="/sms">

            First name
            </br>
            <input type="text" id="firstName"> <br>

            Last Name
            </br>
            <input type="text" id="lastName"> <br>
            Mobile
            </br>
            <input type="number" id="number"> <br>

            Message
            </br>
            <textarea name="message"></textarea>

            <input type="submit" >
        </form>
    </div>
</ul>