/* ------------------------------------------------------------------------- */
/* navigation bar */
/* ------------------------------------------------------------------------- */
.navigationBar{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height:6vh;
  background-color: #230d07;
  font-size: 1.1em;
  color: white;
  padding: 2em;
  align-items: center;
  vertical-align: middle;
    }
  
 .button{
width: 8em;
height: 2em;
font-size: 1.5em;
background-color: rgb(236, 134, 17);
border-width: 1px;
border-color:  rgb(236, 134, 17);
 } 
 .button:hover{
   background-color:rgb(211, 191, 8);
   border-color:rgb(211, 191, 8);
 }

.title{
  font-size: 1.5em;
  color:white;
  text-decoration: none;
  text-align: center;
}
.title:hover{
  color:rgb(211, 191, 8);
}

a{
  font-size: 0.8em;
  color:white;
  text-decoration: none;
}

a:hover{
  color:rgb(211, 191, 8);
}
/* ------------------------------------------------------------------------- */
/* page header*/
/* ------------------------------------------------------------------------- */
.page-header{
  font-size: 3em;
  color:white;
  align-self: auto;
  background-color: rgb(156, 156, 156, 0.5);
 text-align: center;
}
/* ------------------------------------------------------------------------- */
/* home page body*/
/* ------------------------------------------------------------------------- */
body
{
    background-image: url("/img/back4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    max-height: 50em;
    font-family: 'Open Sans';
    /* background-size: auto; */
    background-attachment: fixed;
}
/* ------------------------------------------------------------------------- */
/* listings */
/* ------------------------------------------------------------------------- */
.block {
    background-color: white;
    display: inline-block;
    overflow: hidden;
    max-width: 20em;
    margin: 1em 0;
    padding: 0.6em;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px #230d07;
  }

  .block:hover {
    background-color: rgb(207, 235, 207);
    border: 10 px;
    border-color: green;
    box-shadow: 0 0 2px 1px green;
    transition: background-color 500ms ease-out 500ms
   
  }

  .house-img {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: .5em;
    width: 18em;
    align-content: center;
    /* box-shadow: 0 0 2px 1px #230d07; */
  }

.icon-img {
    width: 2em;
    align-content: center;
   
  }

.listing-title{
font-style: bold;
font-size: 1.5em;
color: #ad4120;
}

/* ------------------------------------------------------------------------- */
/* formatiing the HOME PAGE form */
/* ------------------------------------------------------------------------- */

.block-form{
  background-color: rgb(224, 218, 218);
  display: inline-block;
  overflow: hidden;
  align-self: center;
  align-content: center;
  min-width: 20em;
  max-width: 50em;
  margin: 1em 0;
  padding: 0.4em;
  border-radius: 2px;
  box-shadow: 0 0 2px 1px #230d07;
}

.field-font{
  font-family: 'Antic', sans-serif;
  size: 1em;
  padding: 1em;
  margin:0.5em 1em;
  align-content: center;
  width: 30em;
}


.icon-size{
    width: 2em;
    align-content: center;
   
}

/* ------------------------------------------------------------------------- */
/* info section*/
/* ------------------------------------------------------------------------- */

.info{
background-color: rgb(4,48,5, 0.5);
width: auto;
overflow: hidden;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


/* ------------------------------------------------------------------------- */
/* banner*/
/* ------------------------------------------------------------------------- */

.banner{
  background-color: #043005;
  height: 150px;
  width: auto;
  overflow: hidden;
  text-align: center;
}


/* ------------------------------------------------------------------------- */
/* footer */
/* ------------------------------------------------------------------------- */
.footer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: auto;
  background-color: #230d07;
  font-size: 0.8em;
  color: white;
  text-align: left;
  overflow: hidden;
  padding: 1em;
  }

  .footer-footer{
    height: 3em;
    background-color: black;
    color: white;
    text-align: middle;
    overflow: hidden;
    padding: 1em;
    }

/* ------------------------------------------------------------------------- */
/* footer */
/* ------------------------------------------------------------------------- */

    .signInBlock {
      background-color: rgb(224, 218, 218);
      display: inline-block;
            /* overflow: hidden; */
      align-self: center;
      align-content: center;
      min-width: 20em;
      max-width: 50em;
      margin: 1em 0;
      padding: 0.4em;
      border-radius: 2px;
      box-shadow: 0 0 2px 1px #230d07;
    }
    

 
    .social{
      width: 2em;;
    }

    .margin{
      margin:0.5em;
    }
  
  