body
{
    background-image: url("/img/back2.jpg");
    background-repeat: no-repeat;
    font-family: 'Antic', sans-serif;
    background-size: auto;
}

.block {
    background-color: white;
    display: inline-block;
    overflow: hidden;
    max-width: 20em;
    margin: 1em 0;
    padding: 0.4em;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }


  .house-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 18em;
    align-content: center;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  .navigationBar{
    /* height: 5em; */
    background-color: #00475A;
    font-size: 2em;
    color: white;
    padding: 2em;
  
  }
  a{
    color:white;
    marging 0 1em;
  }

