<main> 
    <div>
        Title :
    </div> 

    <div>
        Description : 
    </div>

    <div>
       Location :
    </div>
    
    <div>
        Price : 
    </div>

    <div>
        Status : 
    </div>

</main>
