<h2>Room Dashboard</h2>
 
 <section class="rooms-container">
   

     <form method="POST" action="/room/search">
        <label>Search By</label>
        <select name="room-search">
                <option value="all">All rooms</option>
                <option value="open">Open Rooms</option>
                <option value="on-hold">On Hold Rooms</option>
                <option value="closed">Closed Rooms</option>
                <option value="pending">Pending Rooms</option>
                <option value="low-priority">Low Priority</option>
                <option value="medium-priority">Meidum Priority</option>
                <option value="high-priority">High Priority</option>
        </select>
        <input type="submit" value="Search">
     </form> <br><br>

    <table border="1" style="text-align: center;">
        <thead>
                <th>Title</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Due Date</th>
                <th>Operation</th>
        </thead>
        <tbody>
           
                <tr>
                   <td>
                        <a href="/room/profile/{{this.id}}" class="room-title">Room Title Goes Here</a>
                   </td>
                   <td>
                       <span>Priority</span>
                      
                   </td>
                   <td>
                        <span>Status</span>
                   </td>
                   <td>
                       <span>Due Date</span>
                   </td>
                   <td>
                        <a href="" class="edit-delete-button">Edit</a>
                        <a href="" class="edit-delete-button">Delete</a>
                   </td> 
                </tr>
    </tbody>
    </table>
 
</section>

<div id="rooms-links-holder">
    <a href="/room/add">Add a Room</a>
</div>

