   <h2 class="page-header">Add Room</h2>
    
    <form method="POST" action="/room/add" class="signInBlock">

        <label>Title</label>
        <br>
        <input type="text" name="title" id="title" class="field-font"> <br>

        <label>Description</label>
        <br>
        <textarea id="description" name="description" class="field-font"></textarea><br>

        <label>Price in CAD</label> <br>
             <input type="number" name="price" id="price" class="field-font" value="0" >
             <br>

        <label>Location</label>
        <br>
        <select name="location"  class="field-font">
            <option value="Ontario">Ontario</option>
            <option value="Alberta">Alberta</option>
            <option value="Manitoba">Manitoba</option>
           <option value="Quebec">Quebec</option>
        </select>
        <br>
        <label>Status</label>
        <br>
       <select name="status" class="field-font">
            <option value="Available">Available</option>
            <option value="Reserved">Reserved</option>
        </select>
        <br>

        <input type="submit" value="Add Room" class="button margin">

    </form>